html {
    --background-color-grey-100: rgb(57, 55, 55);
}

body {
    background-color: var(--background-color-grey-100);

}

form {
    background-color: rgb(217, 212, 212);
    width: 25%;
    margin: auto;
    padding: 2.5rem;
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

input,
textarea,
select {
    padding: 0.3rem;
    width: 100%;
    box-sizing: border-box;
    color: rgb(45, 44, 44);
    font: inherit;

}

button:hover {
    background-color: var(--background-color-grey-100);
    cursor: pointer;
}

button {
    border-style: none;
    padding: 0.35rem 5.9rem;
    margin: 0.35rem;
    border-radius: 3px;
    background-color: rgb(91, 87, 87);
    color: white;

}

label {
    display: block;
    margin: 0.3 5rem 0;
    font: inherit;
    color: rgb(54, 53, 53);
}

input:focus {
    border-width: 3px;
    background-color: rgb(237, 237, 184);
}

.form-control-inline {
    display: flex;

}

.form-control-inline input {
    width: auto;
    margin-right: 0.5rem;
}

textarea {
    resize: vertical;
}