/** {
  margin: 0;
  padding: 0;
}
*/
body {
  background-image: url(./background.jpg);
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
nav {
  display: block;
}
#list1 li {
  width: 140px;
  padding: 2px;
  color: rgb(255, 255, 255);
  list-style: none;
  display: inline-flex;
}

#list1 {
  background-color: rgba(161, 97, 1, 0.479);
  text-align: center;
  color: rgb(7, 7, 7);
  display: flex;
}
nav ul li a {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
a:visited {
  color: rgb(255, 255, 255);
}
a:hover {
  background-color: rgb(215, 215, 215);
  color: rgb(15, 14, 14);
  border-radius: 6px;
}

#demo .carousel-inner .carousel-item img {
  position: relative;
  width: 100px;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
}
#demo {
  object-fit: cover;
  overflow: hidden;
  padding: 0 250px;
}
#faevaLogo {
  height: 30px;
  width: 50px;
  border-radius: 10px;
  border-style: solid;
}
#mainBody {
  color: white;
  padding: 50px;
  margin: auto;
  width: 100%;
  font-family: sans-serif;
  text-align: justify;
}
.titleMain {
  color: white;
  text-align: center;
}

.titleMain:hover {
  transform: scale(1.05);
  transition: 1s;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: rgba(52, 0, 112, 0.471);
  color: rgb(255, 255, 255);
  margin: auto;
  text-align: center;
  border: 0;
  font-size: x-small;
}
.subMenu1 {
  display: none;
}
#list1 li:hover .subMenu1 {
  display: block;
  position: absolute;
  background-color: rgb(216, 141, 1);
  margin-top: 15px;
  margin-left: -15px;
}
#list1 li:hover .subMenu1 ul {
  display: block;
}
.myForm form{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 9%;
  width: 700px;
  height: 350px;
  background-image: linear-gradient(to right, #ffe1aca7, #fede9eae, #fae0a8b6, #ffe196b3, #fede87ac);
  border-radius: 8px;
  
} 
#frmTitle {
  margin: auto;
  width: 700px;
  padding-top: 3%;
  text-align: center;
  color: rgb(255, 255, 255);
}
#formElements{
  margin: auto;
  margin-right: 0px;
  max-width: 800px;
  padding: 20px 10px 5px 5px;
}
label,
input,
textarea {
  padding: 2px 10px;
  color: #222222;
  border: none;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 50px;
  font-family: 'Roboto',sans-serif;
  box-sizing: border-box; 
  font-weight: normal;
}
input {
  width: 30%;
  font-size: 10px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  border-radius: 3px;
  
}
input:focus{
  outline: none !important;
  border: 1px rgba(161, 97, 1, 0.377) solid;
  box-shadow: 0 0 5px #f42602;
}
label{
  width: auto;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
  padding-left: 0;
}
textarea{
  width: 75%;
  height: 150px;
  max-height: 500px;
  border: 1px solid #ccc; 
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  color: rgb(43, 43, 43);
  border-radius: 3px;
  
}

textarea:focus{
  outline: none !important;
  border: 1px rgba(123, 70, 238, 0.377) solid;
  box-shadow: 0 0 5px #f42602;
}
.myButtons{
  margin: auto;
  width: 55%;
  padding-top: 20px;
  margin: 0 36%;
  
}
/*#mySubmit{
  padding: 5px 15px;
  border-radius: 5px;
  margin: 0 10px;
  width: 100px;
}
*/
#mySubmit {
  backface-visibility: hidden;
  background: rgba(121, 73, 1, 0.948);
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1.0rem;
  font-weight: normal;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 0.5rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#mySubmit:not(:disabled):hover {
  transform: scale(1.05);
  background-color: rgba(252, 239, 220, 0.781);
  border: solid 1px rgba(114, 69, 0, 0.719);
  color: rgba(90, 54, 0, 0.932);
  font-weight: normal;
}

#mySubmit:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#mySubmit:focus {
  outline: 0 solid transparent;
  
}

#mySubmit:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#mySubmit:not(:disabled):active {
  transform: translateY(.125rem);
}
/*#myReset{
  padding: 5px 15px;
  border-radius: 5px;
  margin: 0 10px;
  width: 100px;
}
*/
#myReset {
  backface-visibility: hidden;
  background: rgba(121, 73, 1, 0.948);
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1.0rem;
  font-weight: normal;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 0.5rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#myReset:not(:disabled):hover {
  transform: scale(1.05);
  background-color: rgba(252, 239, 220, 0.781);
  border: solid 1px rgba(114, 69, 0, 0.719);
  color: rgba(90, 54, 0, 0.932);
  font-weight: normal;
}

#myReset:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#myReset:focus {
  outline: 0 solid transparent;
  
}

#myReset:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#myReset:not(:disabled):active {
  transform: translateY(.125rem);
}
#meals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 20px;
  text-align: center;
  background-color: rgb(14, 1, 44);
  margin: 50px;
  border-radius: 6px;
}
#meals img {
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  height: 270px;
  width: 420px;
  object-fit: cover;
  margin-bottom: 20px;
}

#meals h6 {
  background-color: rgb(254, 229, 188);
  border-radius: 6px;
  padding: 2px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  
}
#food {
  background-color: rgb(238, 238, 238);
  border-radius: 6px;
}
#food p{
  font-weight: bold;
}
#food:hover{
  cursor:pointer;
  box-shadow: 0 0 15px #fff702;
  background-color: #e4f8fc;
}
/* About Us styling */
#intro p{
  color: rgb(255,255,255);
  margin: 0 50px;
  text-align: justify;
  font-size: 16px;
}
.about_us{
  padding-top: 20px;
  margin: 0 50px;
  color: rgb(255, 255, 255);
  display: flex;
}
.about_us #statement {
  border: 0.5px white solid;
  margin: 15px;
  padding: 20px;
  border-radius: 12px;
  height: auto;
}
#statement #state {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
#statement:hover{
  box-shadow: 0 0 15px #fff702;
  cursor: pointer;
  background-color: rgb(25, 0, 83);
}

/* MENU Page styling */
