* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./background.jpg);
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
nav {
  display: block;
}
#list1 li {
  width: 140px;
  padding: 2px;
  color: rgb(255, 255, 255);
  list-style: none;
  display: inline-flex;
}

#list1 {
  background-color: rgba(161, 97, 1, 0.479);
  text-align: center;
  color: rgb(7, 7, 7);
  display: flex;
}
nav ul li a {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
a:visited {
  color: rgb(255, 255, 255);
}
a:hover {
  background-color: rgb(215, 215, 215);
  color: rgb(15, 14, 14);
  border-radius: 6px;
}

#demo .carousel-inner .carousel-item img {
  position: relative;
  width: 100px;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
}
#demo {
  object-fit: cover;
  overflow: hidden;
  padding: 0 250px;
}
#faevaLogo {
  height: 30px;
  width: 50px;
  border-radius: 10px;
  border-style: solid;
}
#mainBody {
  color: white;
  padding: 50px;
  margin: auto;
  width: 100%;
  font-family: sans-serif;
  text-align: justify;
}
.titleMain {
  color: white;
  text-align: center;
}

.titleMain:hover {
  transform: scale(1.05);
  transition: 1s;
}
footer {
  width: 100%;
  position: absolute;
  background: rgba(52, 0, 112, 0.471);
  color: rgb(255, 255, 255);
  margin: auto;
  text-align: center;
  border: 0;
  font-size: x-small;
}
.subMenu1 {
  display: none;
}
#list1 li:hover .subMenu1 {
  display: block;
  position: absolute;
  background-color: rgb(216, 141, 1);
  margin-top: 15px;
  margin-left: -15px;
}
#list1 li:hover .subMenu1 ul {
  display: block;
}
.myForm {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 9%;
  width: 60%;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
} 
label,
input,
textarea {
  padding: 5px 20px;
  color: #222222;
  border: none;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-top: 25px;
  margin-left: 5%;
  font-family: 'Roboto',sans-serif;
  box-sizing: border-box;
}
input {
  width: 30%;
  font-size: 10px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  
}
input:focus{
  outline: none !important;
  border: 1px rgba(161, 97, 1, 0.377) solid;
  box-shadow: 0 0 10px #ecb97e;
}
label{
  width: 10%;
  font-weight: bold;
  font-size: 12px;
  padding-right: 50px;
}
textarea{
  width: 76%;
  height: 150px;
  font-size: 1px;
  padding-right: 10px;
  line-height: 1.42857143;
  border: 1px solid #ccc; 
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea:focus{
  outline: none !important;
  border: 1px rgba(161, 97, 1, 0.377) solid;
  box-shadow: 0 0 10px #ecb97e;
}