* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./background.jpg);
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
nav {
  display: block;
}
#list1 li {
  width: 140px;
  padding: 2px;
  color: rgb(255, 255, 255);
  list-style: none;
  display: inline-flex;
}

#list1 {
  background-color: rgba(161, 97, 1, 0.479);
  text-align: center;
  color: rgb(7, 7, 7);
  display: flex;
}
nav ul li a {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
a:visited {
  color: rgb(255, 255, 255);
}
a:hover {
  background-color: rgb(215, 215, 215);
  color: rgb(15, 14, 14);
  border-radius: 6px;
}

#demo .carousel-inner .carousel-item img {
  position: relative;
  width: 100px;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
}
#demo {
  object-fit: cover;
  overflow: hidden;
  padding: 0 250px;
}
#faevaLogo {
  height: 30px;
  width: 50px;
  border-radius: 10px;
  border-style: solid;
}
#mainBody {
  color: white;
  padding: 50px;
  margin: auto;
  width: 100%;
  font-family: sans-serif;
  text-align: justify;
}
.titleMain {
  color: white;
  text-align: center;
}

.titleMain:hover {
  transform: scale(1.05);
  transition: 1.0s;
}
footer {
  width: 100%;
  position: absolute;
  background: rgba(52, 0, 112, 0.471);
  color: rgb(255, 255, 255);
  margin: auto;
  text-align: center;
  border: 0;
  font-size: x-small;
}
.subMenu1 {
  display: none;
}
#list1 li:hover .subMenu1 {
  display: block;
  position: absolute;
  background-color: rgb(216, 141, 1);
  margin-top: 15px;
  margin-left: -15px;
}
#list1 li:hover .subMenu1 ul {
  display: block;
}
.myForm{
  margin: auto;
  width: 50%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.486);
}
label{
  padding: 5px 20px;
    width: 20%;
    height: 34px;
    font-size: 14px;
    color: #1a1919;
    border: none;
}