html {
    background-color: rgb(238, 243, 249);
    color: rgb(54, 53, 53);
    font-family: sans-serif;
}

body h2 {
    text-align: center;
}

form {
    margin: auto;
    width: 35%;
    padding: 2.5rem;
    background-color: rgb(211, 233, 244);
    border-radius: 1.8rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0,0.2);
}

label {
    display: block;
    margin: 0.35rem 0;
}

textarea {
    resize: none;
    width: 100%;
    height: 5rem;
}

input,
select,
textarea {
    padding: 0.3rem;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;

}
button{
    border: none;
    padding: 0.35rem 2rem;
    border-radius: 0.2rem;
}

.control-list {
    display: flex;
}

.control-list input{
width: auto;    
}
ul{
    list-style: none;
}

.control-list label{
    margin: 0;  
    margin-left: 0.5rem; 
    }
