body {
    font-family: Arial, sans-serif;
    background-color: hwb(36 96% 2%);
}

#app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input,
button {
    padding: 10px;
    font-size: 16px;
    border: 0.5px solid grey;
    border-radius: 6px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 0.5px solid #919191;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 6px;
}

li.completed span {
    text-decoration: line-through;
}

button {
    margin-left: 10px;
    cursor: pointer;
    background-color: hsl(34, 100%, 95%);
    
}
button:hover{
    background-color: hsl(30, 100%, 99%);
}